<div data-role="panel" id="mypanel" data-theme="b">
    <ul data-role="listview">
        <li data-role="list-divider">相面店铺菜单</li>
        <li data-icon="coffee"><a href="#">Need a Coffee</a></li>
        <li data-icon="beer"><a href="#">Have a Beer</a></li>
        <li data-icon="music"><a href="#">Play Music</a></li>
        <li data-icon="fire"><a href="#">Make a fire</a></li>
        <li data-icon="bullhorn"><a href="#">Shout it loud</a></li>
        <li data-icon="group"><a href="#">Meet friends</a></li>
        <li data-icon="trophy"><a href="#">Win a Trophy</a></li>
    </ul>
</div>